.spinner {
  animation: rotate 2s linear infinite;
  margin-left: 15px;
  width: 30px;
  height: 30px;
}

.path {
  stroke: rgb(148, 153, 156);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.text {
  font-style: italic;
  font-weight: 500;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
